out/
.gradle/
build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

.idea/**/workspace.xml
.idea/**/usage.statistics.xml
.idea/**/tasks.xml
.idea/modules.xml
.idea/*.iml
.idea/modules

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
